# Análisis y visualización de datos climáticos Copernicus
Este notebook carga el dataset unido, explora las variables y genera gráficas simples.

In [ ]:

import xarray as xr
import matplotlib.pyplot as plt

# Cargar dataset unido
ds = xr.open_dataset("datos_unidos.nc")

# Mostrar resumen del dataset
print(ds)

### Graficar serie temporal mensual de temperatura a 2m

In [ ]:

var = "t2m"
ts = ds[var].mean(dim=["latitude", "longitude"])
plt.figure(figsize=(12,6))
ts.plot()
plt.title(f"Serie temporal mensual de {var}")
plt.ylabel("Valor")
plt.show()

### Graficar serie temporal mensual de precipitación total

In [ ]:

var = "total_precipitation"
ts = ds[var].mean(dim=["latitude", "longitude"])
plt.figure(figsize=(12,6))
ts.plot()
plt.title(f"Serie temporal mensual de {var}")
plt.ylabel("Valor")
plt.show()